.inputSearch {
  width: 200px;
  border-color: rgb(246, 11, 11);
  clip-path: polygon(0% 100%, 20% 0%, 100% 0%, 80% 100%);
  text-align: center;
}

.containerSearch .btnSearch {
  background-color: var(--primary-color);
  background-blend-mode: multiply;
  border-color: rgb(246, 11, 11);
  clip-path: polygon(0% 100%, 20% 0%, 100% 0%, 80% 100%);
  margin-left: 1rem;
}

.containerSearch .btnSearch:hover {
  color: rgb(246, 11, 11);
  border-width: 2px;
  border-color: rgb(252, 248, 248);
}
